<div class="row" style="margin-left: 10px; width: 98%">

    <div class="col-md-3 list-category text-info">

        <h3 class="title">
            Kategorie
        </h3>

        <div class="list-group">
            <a href="#/Alcohol" class="list-group-item" ng-click="changeCategory(1)" ng>
                <div id="1" class="truncate pull-left">Koniaki</div><span class="badge">{{Koniaki}}</span>
            </a>
            <a href="#/Alcohol" class="list-group-item" ng-click="changeCategory(2)">
                <div id="2" class="truncate pull-left">Likiery</div><span class="badge">{{Likiery}}</span>
            </a>
            <a href="#/Alcohol" class="list-group-item" ng-click="changeCategory(3)">
                <div id="3" class="truncate pull-left">Rumy</div><span class="badge">{{Rumy}}</span>
            </a>
            <a href="#/Alcohol" class="list-group-item" ng-click="changeCategory(4)">
                <div id="4" class="truncate pull-left">Tequila</div><span class="badge">{{Tequila}}</span>
            </a>
            <a href="#/Alcohol" class="list-group-item" ng-click="changeCategory(5)">
                <div id="5" class="truncate pull-left">Wszystkie</div><span class="badge">{{Wszystkie}}</span>
            </a>
        </div>

    </div>

    <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="alcohol in alcohols" ng-show="displayRecord(alcohol.category)">

        <div class="thumbnail">
            <img ng-src="{{alcohol.picture}}" alt="{{alcohol.name}}" style="max-width:200px; max-height:200px">
            <div class="caption">
                <h4 class="pull-right">{{alcohol.price}} zł</h4>
                <h4>
                    <a href="" ng-click="getAlcoholDetail(alcohol)"
                       data-toggle="modal" data-target="#myModal">{{alcohol.name}}</a>
                </h4>
                <p style="">{{alcohol.shortDesc}}</p>
            </div>
        </div>
    </div>

</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{selectedAlcohol.name}}</h4>
            </div>
            <div class="modal-body">
                <img ng-src="{{selectedAlcohol.picture}}" alt="{{selectedAlcohol.name}}"
                     style="margin: 0 auto;" class="featurette-image img-responsive">
                <div class="caption">
                    <p>{{selectedAlcohol.description}}</p>
                </div>

                <p class="pull-right"><b>{{selectedAlcohol.price}}</b> PLN</p>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-show="isUserLogged" ng-click="addToCart(selectedAlcohol)"
                        data-dismiss="modal">
                    Dodaj do koszyka
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>

    </div>
</div>



