<h1 style="text-align: center">
    Proszę o przemyślenie <b>zakupu!</b> Po wykonaniu tego kroku, zamówienie zostanie przekazane do realizacji!
</h1>
<br />

<div>
    <div class="col-sm-12 col-md-10 col-md-offset-1 hidden-on-mobile">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Ilość</th>
                    <th class="text-center">Cena</th>
                    <th class="text-center">Suma</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in alcohols">
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" ng-src="{{item.alcohol.picture}}" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{item.alcohol.name}}</a></h4>
                                <span>Status: </span><span class="text-success"><strong>W magazynie</strong></span>
                            </div>
                        </div>
                    </td>

                    <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input class="form-control" readonly id="quantity" style="min-width: 40px" value="{{item.quantity}}">
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{item.alcohol.price}} zł</strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{item.alcohol.price * item.quantity}} zł</strong></td>
                    <td class="col-sm-1 col-md-1"></td>
                </tr>

                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                        <h5>Produkty</h5>
                    </td>
                    <td class="text-right">
                        <h5><strong>{{total}} zł</strong></h5>
                    </td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                        <h5>Przesyłka</h5>
                    </td>
                    <td class="text-right">
                        <h5><strong>{{shipCost}} zł</strong></h5>
                    </td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                        <h3>Suma</h3>
                    </td>
                    <td class="text-right">
                        <h3><strong>{{totalAndShipCost}} zł</strong></h3>
                    </td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                        <a href="#/Cart" role="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Powrót
                        </a>
                    </td>
                    <td>
                        <a href="#/Success" role="button" class="btn btn-success" ng-show="total != 0" ng-click="confirm()">
                            Zgadza się! <span class="glyphicon glyphicon-play"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="show-on-mobile" style="display: hidden">
        <table class="table table-hover">
            <tbody>
                <tr ng-repeat="item in alcohols">
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" ng-src="{{item.alcohol.picture}}" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">{{item.alcohol.name}}</a></h4>
                                <span>Cena:  {{item.alcohol.price}} zł</span>
                                <br />
                                <span>Sztuk:  {{item.quantity}}</span>
                                <br />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Produkty</h5>
                    </td>
                    <td class="text-right">
                        <h5><strong>{{total}} zł</strong></h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Przesyłka</h5>
                    </td>
                    <td class="text-right">
                        <h5><strong>{{shipCost}} zł</strong></h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Suma</h3>
                    </td>
                    <td class="text-right">
                        <h3><strong>{{totalAndShipCost}} zł</strong></h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#/Cart" role="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Powrót
                        </a>
                    </td>
                    <td>
                        <a href="#/Success" role="button" class="btn btn-success" ng-show="total != 0" ng-click="confirm()">
                            Zgadza się! <span class="glyphicon glyphicon-play"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
