<div ng-controller="ContactController">
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Kontakt </h3>
                    <hr>
                    <address>
                        <b>Galeria Alkoholi</b><br />
                        Gawronów 4 <br />
                        41-500 Katowice <br />
                        tel: 663 583 567<br />
                        E-mail: <a href="mailto:dawid@gmail.com">dawid@gmail.com</a>
                    </address>

                </div>

                <div class="col-sm-8 contact-form">
                    <form id="contact" ng-submit="sendMail()" control method="post" class="form" role="form">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 form-group">
                                <input class="form-control" id="name" name="name" ng-model="name" placeholder="Nazwa" type="text" required autofocus />
                            </div>
                            <div class="col-xs-6 col-md-6 form-group">
                                <input class="form-control" id="email" name="email" ng-model="email" placeholder="Email" type="email" required />
                            </div>
                        </div>
                        <textarea class="form-control" id="message" name="message" ng-model="message" placeholder="Wiadomość" required rows="5"></textarea>
                        <br />
                        <div class="row">
                            <div class="col-xs-12 col-md-12 form-group">
                                <button class="btn btn-primary pull-right" type="submit">Wyślij</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <br /><br />

    <div class="row" style="width: 90%; margin-left: 5px">
        <div class="col-md-7">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d1804.4939023777195!2d19.00217044883019!3d50.23703048426997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x4716cef9ab5fc06d%3A0x81101d6cf18a545a!2sWincor+Nixdorf+Sp+z+o.o.+Biuro+regionalne%2C+Gawron%C3%B3w+4%2C+40-527+Katowice!3m2!1d50.2370185!2d19.0038323!5e0!3m2!1spl!2spl!4v1464552983510" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>