<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Logowanie</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Rejestracja</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" method="post" ng-submit="logIn()" role="form" style="display: block;">

                                <div class="alert alert-danger" ng-show="isLoginError">
                                    Nie udało się zalogować!
                                </div>

                                <div class="form-group">
                                    <input type="text" name="username" ng-model="luser.login" id="username" tabindex="1" class="form-control" placeholder="Login" value="" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" ng-model="luser.password" id="password" tabindex="2" class="form-control" placeholder="Hasło" required>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Zaloguj">
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <form id="register-form" method="post" ng-submit="register()" role="form" style="display: none;">

                                <div class="alert alert-success" ng-show="isSuccess">
                                    Zarejestrowano użytkownika!
                                </div>

                                <div class="alert alert-danger" ng-show="isError">
                                    Nie udało się zarejestrować użytkownika!
                                </div>

                                <div class="form-group">
                                    <input type="text" name="username" ng-model="user.login" id="username" tabindex="1" class="form-control" placeholder="Login" value="" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" ng-model="user.email" id="email" tabindex="1" class="form-control" placeholder="Email" value="" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" ng-model="user.password" id="password" tabindex="2" class="form-control" placeholder="Hasło" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirm-password" ng-model="password" id="confirm-password" tabindex="2" class="form-control" placeholder="Powtórz hasło" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="address" ng-model="user.address" id="address" tabindex="2" class="form-control" placeholder="Adres" value="" required>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Zarejestruj">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    $(function() {

        $('#login-form-link').click(function(e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function(e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });

</script>
