<nav class="navbar navbar-inverse" ng-controller="NavbarController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#important-id-for-collapsing" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Galeria Alkoholi</a>
        </div>
        <div class="collapse navbar-collapse" id="important-id-for-collapsing">
            <ul class="nav navbar-nav">
                <li><a href="#">Strona główna</a></li>
                <li><a href="#Contact">Kontakt</a></li>
                <li><a href="#Alcohol">Alkohole</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#Login" ng-hide="isUserLogged">Zaloguj</a></li>

                <li class="dropdown" ng-show="isUserLogged">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Konto <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/Profile">Profil</a></li>
                        <li><a href="#/Cart">Koszyk <span class="badge">{{cartCount}}</span></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#/" ng-click="logOut()">Wyloguj</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>
