<div class="container" style="text-align: center" style="width:20%">
    <div class="row">
        <div class="span8">
            <form action="billing" method="post" class="form-horizontal" id="billingform" accept-charset="utf-8">
                <div class="control-group">
                    <label for="login" class="control-label">
                        Login
                    </label>
                    <div class="controls">
                        <input name="login" type="text" ng-model="user.login" id="login" readonly>
                    </div>
                </div>

                <div class="control-group">
                    <label for="email" class="control-label">
                        Email
                    </label>
                    <div class="controls">
                        <input name="email" type="text" ng-model="user.email" id="email" readonly>
                    </div>
                </div>

                <div class="control-group">
                    <label for="address" class="control-label">
                        Adres
                    </label>
                    <div class="controls">
                        <input name="address" type="text" ng-model="user.address" id="address" readonly>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>