<div style="text-align: center">
    <h1>
        Zamówienie został przekazane do realizacji, dziękujemy!
    </h1>
    <br />

    <a href="#/Alcohol" role="button" class="btn btn-default">
        <span class="glyphicon glyphicon-shopping-cart"></span> Kontynuuj zakupy
    </a>
</div>
